body {
  margin: 0px;
}

@font-face {
  font-family: custom-font;
  src: url(Bungee-Regular.ttf);
}

#mainGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
}

#homeHeader {
  border-bottom: 3px solid;
  grid-column: 1 / span 6;
}

#junkademy {
  display: inline-block;
  font-family: custom-font;
  margin: 0;
}

#junkademy::first-letter {
  color: red;
}

#headerButtonsDiv {
  float: right;
}

#loginsDiv {
  float: right;
}

#adminLogin {
  display: block;
}

#userLogin {
  display: block;
  width: 100%;
}

#codeBlockLibrary {
  display: inline-block;
  border-right: 3px solid;
  vertical-align: top;
  grid-row: 2 / span 6;
}

.lightBottom {
  border-bottom: 1px solid;
}

#sandbox {
  display: inline-block;
  grid-column: 2 / span 3;
  grid-row: 2 / span 4;
  border-right: 3px solid;
}

#workspace {
  width: 100%;
  height: 100%;
}

#jWindow {
  display: inline-block;
  grid-column: 5 / span 2;
  grid-row: 2 / span 4;
}

#tWindow {
  border-top: 3px solid;
  grid-column: 2 / span 6;
}
